.App {
  text-align: center;
}

.App-header {
  background-color: #0641b8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.image {
  display: block;
  margin-right: center;
  margin-left: center;
  width: 50%;
}

.logo {
  float: left;
  position: absolute;
  margin-left: auto;
  width: 200px;
  height: 200px;
  size: small;
}
